In [21]:
import numpy as np
import pandas as pd
import scipy.stats as ss
from sklearn.preprocessing import StandardScaler

In [22]:
train  = pd.read_csv('../competition_data/train.csv')
test  = pd.read_csv('../competition_data/test.csv')
## Input Feature - Target 분리
##train_x = train.drop(['nerdiness', 'index'],axis=1)   ## Input Feature 값
##train_y = train['nerdiness']

In [23]:
## Test 문항에 대한 Column
test_cols = ['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10',
             'Q11','Q12','Q13','Q14','Q15','Q16','Q17','Q18','Q19','Q20',
             'Q21','Q22', 'Q23','Q24','Q25','Q26']

## 응시 시간 문항에 대한 Column
time_cols = ['introelapse', 'testelapse', 'surveyelapse']

## TIPI 문항에 대한 Column
tipi_cols = ['TIPI1','TIPI2','TIPI3','TIPI4','TIPI5','TIPI6','TIPI7','TIPI8',
             'TIPI9','TIPI10']

vcl_exist = ['VCL1','VCL2','VCL3','VCL4','VCL5','VCL7','VCL8','VCL10','VCL11','VCL13','VCL14','VCL15','VCL16']
vcl_no_exist = ['VCL6','VCL9','VCL12']
## VCL 문항에 대한 Column
vcl_cols = vcl_exist + vcl_no_exist

## 설문문항에 대한 Column
survy_cols = ['country','education','urban','gender','engnat','age','hand','religion',
              'orientation','voted','married','familysize','ASD']

In [24]:
def eraseOutlis(dframe):
    tmp_frame = dframe.copy()
    tmp_no_outli = tmp_frame[tmp_frame['age'] < 100]
    
    intr_92q = tmp_no_outli['introelapse'].quantile(q=0.92,interpolation='nearest')
    tmp_no_outli=tmp_no_outli[tmp_no_outli['introelapse'] < intr_92q]
    
    ## testelapse 하위0.04% 미만의 값을 갖는 Row 들 전부 삭제
    test_004q = tmp_no_outli['testelapse'].quantile(q=0.0004,interpolation='nearest')
    tmp_no_outli=tmp_no_outli[tmp_no_outli['testelapse'] >= test_004q]

    ## surveyelapse 하위 0.2% 미만의 값을 갖는 Row 들 전부 삭제
    srvy_04q = tmp_no_outli['surveyelapse'].quantile(q=0.002,interpolation='nearest')
    tmp_no_outli=tmp_no_outli[tmp_no_outli['surveyelapse'] >= srvy_04q]

    ## familysize 에 극단적으로 큰값(2919) 를 갖는 Row 제거
    tmp_no_outli=tmp_no_outli[tmp_no_outli['familysize'] < 39]
    
    return tmp_no_outli

In [25]:
train_no_outli = eraseOutlis(train)

In [26]:
def replaceNAN(dframe):
    continuous_nan = ['age','introelapse','testelapse','surveyelapse']             ## 연속형 변수
    norminal_nan = list(dframe.columns.values)                         
    for cont in continuous_nan:
        norminal_nan.remove(cont)
        
    tmp_frame = dframe.copy()
    ## 연속형 변수들에 대해서는 평균값으로 대체
    tmp_frame[continuous_nan] = tmp_frame[continuous_nan].fillna(round(tmp_frame[continuous_nan].mean()))
    ## 이산형 변수들에 대해서는 최빈값으로 대체
    tmp_frame[norminal_nan] =tmp_frame[norminal_nan].fillna(tmp_frame[norminal_nan].mode().iloc[0].squeeze())
    return tmp_frame

In [27]:
train_no_outli_nan = replaceNAN(train_no_outli)

In [28]:
def calcTIPI(dframe):
    tp_enc = dframe.copy()
    tp_enc['tp_extra'] = (dframe['TIPI1'] + (8-dframe['TIPI6']))/2 ## 외향성 
    tp_enc['tp_agree'] = (dframe['TIPI7'] + (8-dframe['TIPI2']))/2 ## 친화성
    tp_enc['tp_consc'] = (dframe['TIPI3'] + (8-dframe['TIPI8']))/2 ## 성실성
    tp_enc['tp_emoti'] = (dframe['TIPI9'] + (8-dframe['TIPI4']))/2 ## 정서적 안정성
    tp_enc['tp_opens'] = (dframe['TIPI5'] + (8-dframe['TIPI10']))/2 ## 경험에 대한 개방성
    
    return tp_enc

In [29]:
def addColumn(dframe):
    tmp_frame=dframe.copy()
    tmp_frame['test_score'] = dframe[test_cols].sum(axis=1)
    tmp_frame['exist_know'] = dframe[vcl_exist].sum(axis=1)
    tmp_frame['mean_test'] = dframe[['testelapse']].sum(axis=1)/26   ## 테스트 문항 별 평균적 응답시간 추가
    tmp_frame['mean_srvy'] = dframe[['surveyelapse']].sum(axis=1)/39 ## 설문 문항 별 평균적 응답시간 추가
    #tmp_frame['age_log'] = np.log(dframe['age'])                   ## age 에 로그를 취하여, 정규화
    tmp_frame = calcTIPI(tmp_frame)
    
    return tmp_frame

def dropColumn(dframe):
    drop_Qs = test_cols.copy()
    drop_Qs.remove('Q15')
    drop_Qs.remove('Q25')
    droplist =  drop_Qs + ['familysize','age','orientation','hand','married','ASD'] + vcl_cols + tipi_cols + time_cols
    tmp_frame = dframe.copy()
    tmp_frame = tmp_frame.drop(droplist, axis=1)
    return tmp_frame

In [30]:
## 이상치 제거, 결측치 처리된 Dataframe 대상으로 새로운 Column 들 추가 후, 기존 일부 Column들 제거
train_final_add = addColumn(train_no_outli_nan)
train_final_drop = dropColumn(train_final_add)

In [31]:
def ratio_table(cross_tab):
    return cross_tab.div(cross_tab.sum(axis=1),axis='index')

def groupCntryCol(dframe):
    tmp_country = train[['country','nerdiness']].dropna()
    native_country_table=tmp_country['country'].value_counts()
    country_count = tmp_country['country'].unique().shape[0]
    
    country_crosstab=pd.crosstab(tmp_country['country'],tmp_country['nerdiness'])
    country_crossgtab_res=ss.chi2_contingency(country_crosstab)
    
    country_ratio=ratio_table(country_crosstab)
    country_ratio=country_ratio.sort_values(by=0)
    
    prob_dict=dict(country_ratio[1])
    
    cntry_group1=[]
    cntry_group2=[]
    cntry_group3=[]
    cntry_group4=[]

    for country in tmp_country['country'].unique():
        country_data=tmp_country[tmp_country['country']==country]['nerdiness']
        probs=sum(country_data)/country_data.count()
        if probs <= 1 and probs >=0.6:
            cntry_group1.append(country)
        elif probs >=0.4 and probs <0.6:
            cntry_group2.append(country)
        elif probs >= 0.2 and probs < 0.4:
            cntry_group3.append(country)
        else:
            cntry_group4.append(country)
    #print(country,probs)
    return (cntry_group1, cntry_group2, cntry_group3, cntry_group4)


def groupCountry(dframe,group):
    tmp_frame = dframe.copy()
    
    tmp_frame['country']=tmp_frame['country'].replace(group[0],0)
    tmp_frame['country']=tmp_frame['country'].replace(group[1],1)
    tmp_frame['country']=tmp_frame['country'].replace(group[2],2)
    tmp_frame['country']=tmp_frame['country'].replace(group[3],3)
    
    return tmp_frame

In [32]:
cntry_group1, cntry_group2, cntry_group3, cntry_group4 = groupCntryCol(train_final_drop)
train_final_grouped = groupCountry(train_final_drop, (cntry_group1, cntry_group2, cntry_group3, cntry_group4))

In [33]:
def one_hot_encoding(dframe):
    tmp_frame = dframe.copy()
    categorical_cols = ['country','urban','gender','engnat','religion','voted']
    
    for col in categorical_cols:
        col_ohe = pd.get_dummies(tmp_frame[col], prefix=col)
        tmp_frame = pd.concat((tmp_frame, col_ohe), axis=1).drop(col, axis=1)
    return tmp_frame

In [34]:
train_final_ohe = one_hot_encoding(train_final_grouped)

In [35]:
def stdize_cols(dframe):
    tmp_frame =dframe.copy()
    col_stdize = ['mean_test', 'mean_srvy']
    scaler = StandardScaler()
    numeric_df = pd.DataFrame(scaler.fit_transform(tmp_frame[col_stdize]),columns=col_stdize,index=tmp_frame.index)
    X_train_new = tmp_frame.drop(columns=col_stdize)
    train_final_ohe_stdize =pd.concat([numeric_df,X_train_new],axis=1)
    return train_final_ohe_stdize

In [36]:
train_final_ohe_stdize = stdize_cols(train_final_ohe)

In [37]:
def prepare_test(dframe):
    test_frame =dframe.copy()
    test_no_outli = eraseOutlis(test_frame)
    test_no_outli_nan = replaceNAN(test_no_outli)
    
    test_final = addColumn(test_no_outli_nan)
    test_final = dropColumn(test_final)
    test_final= groupCountry(test_final,(cntry_group1, cntry_group2, cntry_group3, cntry_group4))
    
    test_final_ohe = one_hot_encoding(test_final)
    test_final_ohe_stdize = stdize_cols(test_final_ohe)
    
    return test_final_ohe_stdize

In [38]:
test_pre = prepare_test(test)                   ## 타겟 변수값

In [39]:
train_x = train_final_ohe_stdize.drop(['nerdiness', 'index'],axis=1)   ## Input Feature 값
train_y = train_final_ohe_stdize['nerdiness']   

test_x = test_pre.drop(['index'],axis=1)   ## Input Feature 값

In [40]:
train_x

,mean_test,mean_srvy,Q15,Q25,education,test_score,exist_know,tp_extra,tp_agree,tp_consc,...,religion_5.0,religion_6.0,religion_7.0,religion_8.0,religion_9.0,religion_10.0,religion_11.0,religion_12.0,voted_1.0,voted_2.0
1,-0.033266,-0.014277,1.0,2.0,4.0,85.0,11,5.0,5.5,5.0,...,0,0,0,0,0,0,0,0,1,0
2,-0.030477,-0.014384,1.0,2.0,2.0,96.0,11,2.0,4.5,3.5,...,0,0,0,0,0,0,0,0,0,1
3,-0.028900,-0.014175,4.0,4.0,1.0,91.0,9,4.0,4.5,3.5,...,0,0,0,0,0,0,0,0,0,1
4,0.034040,-0.013761,5.0,4.0,1.0,90.0,8,3.5,4.0,4.0,...,0,0,0,0,0,0,0,1,0,1
5,-0.031447,-0.013976,4.0,3.0,3.0,93.0,10,5.5,4.5,3.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,-0.031083,-0.014057,4.0,2.0,2.0,87.0,10,2.5,4.5,4.5,...,0,0,0,0,0,0,0,0,0,1
14996,-0.030720,-0.013960,2.0,4.0,4.0,105.0,8,4.0,5.0,5.5,...,0,0,0,0,0,0,0,0,1,0
14997,-0.031083,-0.014019,5.0,3.0,2.0,120.0,9,2.0,4.0,3.5,...,0,0,0,0,0,0,0,0,1,0
14998,-0.035328,-0.014336,1.0,3.0,3.0,107.0,11,2.0,6.0,3.5,...,0,0,0,0,0,0,0,1,0,1
14999,-0.021503,-0.013052,4.0,3.0,2.0,89.0,11,5.0,4.5,3.5,...,0,0,0,0,0,0,0,0,0,1

In [41]:
test_x

,mean_test,mean_srvy,Q15,Q25,education,test_score,exist_know,tp_extra,tp_agree,tp_consc,...,religion_5.0,religion_6.0,religion_7.0,religion_8.0,religion_9.0,religion_10.0,religion_11.0,religion_12.0,voted_1.0,voted_2.0
0,-0.024029,-0.017792,5.0,4.0,2.0,109.0,12,3.0,3.5,4.0,...,0,0,0,0,0,0,0,0,1,0
1,-0.025047,-0.018085,4.0,4.0,2.0,112.0,10,2.0,3.5,4.0,...,0,0,0,0,0,0,0,0,0,1
2,-0.027957,-0.018204,4.0,1.0,1.0,109.0,9,3.5,5.0,4.5,...,0,0,0,0,0,0,0,0,0,1
4,-0.016899,-0.017428,5.0,3.0,2.0,106.0,4,3.5,4.0,3.5,...,0,0,0,0,0,0,0,0,0,1
5,-0.016026,-0.017982,1.0,2.0,2.0,63.0,9,2.0,4.0,5.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35446,-0.029412,-0.018987,1.0,4.0,1.0,82.0,9,2.0,4.5,2.5,...,0,0,0,0,0,0,0,0,0,1
35447,-0.011516,-0.017705,3.0,5.0,2.0,108.0,3,4.0,4.0,5.0,...,0,0,0,0,0,1,0,0,0,1
35448,-0.020828,-0.018489,2.0,3.0,2.0,115.0,9,3.0,5.0,5.0,...,0,0,0,0,0,0,0,0,0,1
35449,-0.023010,-0.018204,5.0,4.0,3.0,119.0,11,3.0,3.0,3.5,...,0,0,0,0,0,0,0,0,1,0
35451,-0.001476,-0.018307,1.0,4.0,1.0,104.0,7,2.0,3.5,3.0,...,0,0,0,0,0,0,0,0,0,1